@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-background: oklch(98.81% 0.0106 253.34); /* Light background */
  --color-foreground: oklch(29.22% 0.028 254.21); /* Light text */
  --color-border: oklch(93.12% 0.015 253.79);

  --color-primary: oklch(61.96% 0.173 262.15);
  --color-primary-foreground: oklch(98.81% 0.0106 253.34);
  
  --color-secondary: oklch(96.79% 0.013 253.64);
  --color-secondary-foreground: oklch(39.9% 0.024 254.12);
  
  --color-danger: oklch(69.29% 0.222 25.12);
  --color-danger-foreground: oklch(98.81% 0.0106 253.34);
  
  --color-dark-background: oklch(29.22% 0.028 254.21); /* Dark background */
  --color-dark-foreground: oklch(98.81% 0.0106 253.34); /* Dark text */
  --color-dark-border: oklch(34.23% 0.026 254.18);
  --color-dark-primary: oklch(67.4% 0.198 261.21);
  --color-dark-primary-foreground: oklch(39.9% 0.024 254.12);
  --color-dark-secondary: oklch(34.23% 0.026 254.18);
  --color-dark-secondary-foreground: oklch(98.81% 0.0106 253.34);
  --color-dark-danger: oklch(47.93% 0.155 25.53);
  --color-dark-danger-foreground: oklch(98.81% 0.0106 253.34);
}

@layer base {
  body {
    @apply font-sans bg-background text-foreground;
  }

  .dark body {
     @apply bg-dark-background text-dark-foreground;
  }
}